<div class="row">
    <h1>{{$ctrl.title}}</h1>
</div>
<div class="row">
    <div class="col-sm-12">
        <form class="form-inline">
            <div class="form-group">
                <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Filter Orders" data-ng-model="$ctrl.filterOrders">
                </div> 
            </div>
            <button type="button" data-ng-click="$ctrl.goToCreateOrder()" class="btn btn-info">Create Order</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <a href="" data-ng-click="$ctrl.sortType = 'orderId'; $ctrl.sortReverse = !$ctrl.sortReverse">
                            Order Id 
                            <span data-ng-show="$ctrl.sortType == 'orderId' && !$ctrl.sortReverse" class="fa fa-caret-down"></span>
                            <span data-ng-show="$ctrl.sortType == 'orderId' && $ctrl.sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="" data-ng-click="$ctrl.sortType = 'customername'; $ctrl.sortReverse = !$ctrl.sortReverse">
                            Customer Name
                            <span data-ng-show="$ctrl.sortType == 'customername' && !$ctrl.sortReverse" class="fa fa-caret-down"></span>
                            <span data-ng-show="$ctrl.sortType == 'customername' && $ctrl.sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="" data-ng-click="$ctrl.sortType = 'totalItems'; $ctrl.sortReverse = !$ctrl.sortReverse">
                            Total Items
                            <span data-ng-show="$ctrl.sortType == 'totalItems' && !$ctrl.sortReverse" class="fa fa-caret-down"></span>
                            <span data-ng-show="$ctrl.sortType == 'totalItems' && $ctrl.sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="" data-ng-click="$ctrl.sortType = 'totalSale'; $ctrl.sortReverse = !$ctrl.sortReverse">
                            Total Sale 
                            <span data-ng-show="$ctrl.sortType == 'totalSale' && !$ctrl.sortReverse" class="fa fa-caret-down"></span>
                            <span data-ng-show="$ctrl.sortType == 'totalSale' && $ctrl.sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="order in $ctrl.orders | orderBy:$ctrl.sortType:$ctrl.sortReverse | filter:$ctrl.filterOrders">
                    <td><a data-ng-href="#/orders/{{order.id}}">{{order.id}}</a></td>
                    <td>{{order.customerName}}</td>
                    <td>{{order.totalItems}}</td>
                    <td>{{order.totalSale | currency}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>