<div class="row">
    <h1>{{title}}</h1>
</div>
<div class="row">
    <div class="col-sm-12">
        <form class="form-inline">
            <div class="form-group">
                <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input #ordersFilter type="text" class="form-control" placeholder="Filter Orders" (keyup)="filterOrders(ordersFilter.value)">
                </div> 
            </div>
            <button type="button" (click)="goToCreateOrder()" class="btn btn-info">Create Order</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <a [href]="" (click)="sortOrders('id')">
                            Order Id 
                            <span *ngIf="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
                            <span *ngIf="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a [href]="" (click)="sortOrders('customerName')">
                            Customer Name
                            <span *ngIf="sortType == 'customerName' && !sortReverse" class="fa fa-caret-down"></span>
                            <span *ngIf="sortType == 'customerName' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a [href]="" (click)="sortOrders('totalItems')">
                            Total Items
                            <span *ngIf="sortType == 'totalItems' && !sortReverse" class="fa fa-caret-down"></span>
                            <span *ngIf="sortType == 'totalItems' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a [href]="" (click)="sortOrders('totalSale')">
                            Total Sale 
                            <span *ngIf="sortType == 'totalSale' && !sortReverse" class="fa fa-caret-down"></span>
                            <span *ngIf="sortType == 'totalSale' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of filteredOrders">
                    <td><a href="#/orders/{{order.id}}">{{order.id}}</a></td>
                    <td>{{order.customerName}}</td>
                    <td>{{order.totalItems}}</td>
                    <td>{{order.totalSale | currency:'USD':true}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>